* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-direction: column;
  max-width: 60px;
  background-color: #EBEBEB;
  height: 94vh;
  cursor: pointer;
  justify-content: space-between;
}

.navbar_top {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar_top > .h6 {
  display: flex;
  flex-direction: column;
  font-weight: 100;
}
.navbar_bottom {
  display: flex;
  flex: 0.2;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.navbar_bottom > .h6 {
  display: flex;
  flex-direction: column;
}
